# History files
*.Rhistory
*.Rapp.history
*.DS_Store

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj

# Example code in package build process
*-Ex.R

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.log
vignettes/*.tex
inst/paper/*.pdf

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

/dev
doc
Meta
/doc/
/Meta/
docs/
