http_interactions:
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '["Datatype not supported", "Error with begintime", "Error with endtime",
        "Error with intervaltype", "problem decoding geometry ", "Error with operationtype"]'
  recorded_at: 2021-09-20 08:19:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/?datatype=0&begintime=01%2F01%2F2000&endtime=01%2F05%2F2000&intervaltype=0&operationtype=5&callback=successCallback&dateType_Category=default&isZip_CurrentDataType=false&geometry=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-60.03946%2C-3.031387%5D%2C%5B-60.039462928932188%2C-3.031394071067812%5D%2C%5B-60.03947%2C-3.031397%5D%2C%5B-60.039477071067815%2C-3.031394071067812%5D%2C%5B-60.03948%2C-3.031387%5D%2C%5B-60.039477071067815%2C-3.031379928932188%5D%2C%5B-60.03947%2C-3.031377%5D%2C%5B-60.039462928932188%2C-3.031379928932188%5D%2C%5B-60.03946%2C-3.031387%5D%5D%5D%7D%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: successCallback(["bebb6c49-441a-4fda-821f-e2aca6eb0173"])
  recorded_at: 2021-09-20 08:19:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: <h1>Server Error (500)</h1>
  recorded_at: 2021-09-20 08:19:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/?id=bebb6c49-441a-4fda-821f-e2aca6eb0173
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[100.0]'
  recorded_at: 2021-09-20 08:19:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: need to send id
  recorded_at: 2021-09-20 08:19:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=bebb6c49-441a-4fda-821f-e2aca6eb0173
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": [{"date": "1/1/2000", "workid": "5df19ff6-b5b8-430e-8a66-a6ead5456062",
        "epochTime": "946684800", "value": {"avg": 9.255108833312988}}, {"date": "1/2/2000",
        "workid": "2bc72233-92a2-400a-b46f-4edfe4c74abf", "epochTime": "946771200",
        "value": {"avg": 0.0}}, {"date": "1/3/2000", "workid": "0a830f16-1a8c-44f6-8c9a-f8e69a64b7d3",
        "epochTime": "946857600", "value": {"avg": 0.0}}, {"date": "1/4/2000", "workid":
        "fddcf677-f408-49ab-9436-ab946b3ca498", "epochTime": "946944000", "value":
        {"avg": 0.0}}, {"date": "1/5/2000", "workid": "2bc78c85-9d2e-4ae4-9610-2ff6d3dea923",
        "epochTime": "947030400", "value": {"avg": 18.510217666625977}}]}'
  recorded_at: 2021-09-20 08:19:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
