http_interactions:
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '["Datatype not supported", "Error with begintime", "Error with endtime",
        "Error with intervaltype", "problem decoding geometry ", "Error with operationtype"]'
  recorded_at: 2021-09-19 02:40:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/?datatype=29&begintime=01%2F01%2F2002&endtime=01%2F31%2F2002&intervaltype=0&operationtype=5&callback=successCallback&dateType_Category=default&isZip_CurrentDataType=false&geometry=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-60.03946%2C-3.031387%5D%2C%5B-60.039462928932188%2C-3.031394071067812%5D%2C%5B-60.03947%2C-3.031397%5D%2C%5B-60.039477071067815%2C-3.031394071067812%5D%2C%5B-60.03948%2C-3.031387%5D%2C%5B-60.039477071067815%2C-3.031379928932188%5D%2C%5B-60.03947%2C-3.031377%5D%2C%5B-60.039462928932188%2C-3.031379928932188%5D%2C%5B-60.03946%2C-3.031387%5D%5D%5D%7D%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: successCallback(["3ad0c088-7ba7-4330-84fb-0a990a86720e"])
  recorded_at: 2021-09-19 02:40:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: <h1>Server Error (500)</h1>
  recorded_at: 2021-09-19 02:40:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/?id=3ad0c088-7ba7-4330-84fb-0a990a86720e
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[100.0]'
  recorded_at: 2021-09-19 02:40:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: need to send id
  recorded_at: 2021-09-19 02:40:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=3ad0c088-7ba7-4330-84fb-0a990a86720e
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": []}'
  recorded_at: 2021-09-19 02:40:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=5f2cb51d-03ee-4ec8-a3b1-438e878f9c65
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": [{"date": "1/1/2002", "workid": "3dc72ca5-6b67-490f-afc4-4c9c5e2939d8",
        "epochTime": "1009843200", "value": {"avg": -1.8911585807800293}}, {"date":
        "1/9/2002", "workid": "7c783c6c-db55-4c92-b686-c49d2592a719", "epochTime":
        "1010534400", "value": {"avg": -1.9161806106567383}}, {"date": "1/17/2002",
        "workid": "00191d53-161e-459d-acba-2500b153dd11", "epochTime": "1011225600",
        "value": {"avg": -2.1174285411834717}}]}'
  recorded_at: 2021-09-19 02:40:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
