http_interactions:
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '["Datatype not supported", "Error with begintime", "Error with endtime",
        "Error with intervaltype", "problem decoding geometry ", "Error with operationtype"]'
  recorded_at: 2021-09-19 02:40:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/?datatype=29&begintime=01%2F01%2F2002&endtime=01%2F31%2F2002&intervaltype=0&operationtype=5&callback=successCallback&dateType_Category=default&isZip_CurrentDataType=false&geometry=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-60.03946%2C-3.031387%5D%2C%5B-60.039462928932188%2C-3.031394071067812%5D%2C%5B-60.03947%2C-3.031397%5D%2C%5B-60.039477071067815%2C-3.031394071067812%5D%2C%5B-60.03948%2C-3.031387%5D%2C%5B-60.039477071067815%2C-3.031379928932188%5D%2C%5B-60.03947%2C-3.031377%5D%2C%5B-60.039462928932188%2C-3.031379928932188%5D%2C%5B-60.03946%2C-3.031387%5D%5D%5D%7D%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: successCallback(["ec2cfa8b-19f3-41d2-afe4-2aa26b6b063a"])
  recorded_at: 2021-09-19 02:40:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: <h1>Server Error (500)</h1>
  recorded_at: 2021-09-19 02:40:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/?id=ec2cfa8b-19f3-41d2-afe4-2aa26b6b063a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[100.0]'
  recorded_at: 2021-09-19 02:40:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: need to send id
  recorded_at: 2021-09-19 02:40:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=ec2cfa8b-19f3-41d2-afe4-2aa26b6b063a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": []}'
  recorded_at: 2021-09-19 02:40:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=b37aab58-7c39-45bf-9cc4-7f8eb58cbb3d
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": [{"date": "1/1/2002", "workid": "6933b49c-23ec-4fb7-b18b-9f1c3f0caba1",
        "epochTime": "1009843200", "value": {"avg": -1.8911585807800293}}, {"date":
        "1/9/2002", "workid": "3b3ae7ef-69a7-4272-aea7-98622caa4a63", "epochTime":
        "1010534400", "value": {"avg": -1.9161806106567383}}, {"date": "1/17/2002",
        "workid": "f38ebdec-a12e-47da-bb14-ccdf9ee38abc", "epochTime": "1011225600",
        "value": {"avg": -2.1174285411834717}}]}'
  recorded_at: 2021-09-19 02:40:44 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
