http_interactions:
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '["Datatype not supported", "Error with begintime", "Error with endtime",
        "Error with intervaltype", "problem decoding geometry ", "Error with operationtype"]'
  recorded_at: 2021-09-19 02:41:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/?datatype=29&begintime=01%2F01%2F2002&endtime=01%2F31%2F2002&intervaltype=0&operationtype=5&callback=successCallback&dateType_Category=default&isZip_CurrentDataType=false&geometry=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-60.03946%2C-3.031387%5D%2C%5B-60.039462928932188%2C-3.031394071067812%5D%2C%5B-60.03947%2C-3.031397%5D%2C%5B-60.039477071067815%2C-3.031394071067812%5D%2C%5B-60.03948%2C-3.031387%5D%2C%5B-60.039477071067815%2C-3.031379928932188%5D%2C%5B-60.03947%2C-3.031377%5D%2C%5B-60.039462928932188%2C-3.031379928932188%5D%2C%5B-60.03946%2C-3.031387%5D%5D%5D%7D%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: successCallback(["ba4b03a6-4cd8-4417-ba87-01c73bb80c6a"])
  recorded_at: 2021-09-19 02:41:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: <h1>Server Error (500)</h1>
  recorded_at: 2021-09-19 02:41:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/?id=ba4b03a6-4cd8-4417-ba87-01c73bb80c6a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[100.0]'
  recorded_at: 2021-09-19 02:41:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: need to send id
  recorded_at: 2021-09-19 02:41:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=ba4b03a6-4cd8-4417-ba87-01c73bb80c6a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": []}'
  recorded_at: 2021-09-19 02:41:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=eb385ec6-bce9-4855-bffe-30748f32c496
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": [{"date": "1/1/2002", "workid": "c437a2bb-e64e-4b3a-9171-1b1f24240651",
        "epochTime": "1009843200", "value": {"avg": -1.8911585807800293}}, {"date":
        "1/9/2002", "workid": "2be45146-3114-45e2-afa6-13c93f6a1192", "epochTime":
        "1010534400", "value": {"avg": -1.9161806106567383}}, {"date": "1/17/2002",
        "workid": "6139c7d1-16b4-490a-919a-2a50915fb458", "epochTime": "1011225600",
        "value": {"avg": -2.1174285411834717}}]}'
  recorded_at: 2021-09-19 02:41:12 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
