http_interactions:
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '["Datatype not supported", "Error with begintime", "Error with endtime",
        "Error with intervaltype", "problem decoding geometry ", "Error with operationtype"]'
  recorded_at: 2020-02-07 07:04:30 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/?datatype=0&begintime=01%2F01%2F2000&endtime=01%2F05%2F2000&intervaltype=0&operationtype=5&callback=successCallback&dateType_Category=default&isZip_CurrentDataType=false&geometry=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-60.03946%2C-3.031387%5D%2C%5B-60.039462928932188%2C-3.031394071067812%5D%2C%5B-60.03947%2C-3.031397%5D%2C%5B-60.039477071067815%2C-3.031394071067812%5D%2C%5B-60.03948%2C-3.031387%5D%2C%5B-60.039477071067815%2C-3.031379928932188%5D%2C%5B-60.03947%2C-3.031377%5D%2C%5B-60.039462928932188%2C-3.031379928932188%5D%2C%5B-60.03946%2C-3.031387%5D%5D%5D%7D%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: successCallback(["680eb864-f97f-43aa-85be-6d539c0a46b4"])
  recorded_at: 2020-02-07 07:04:30 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta http-equiv=\"content-type\"
        content=\"text/html; charset=utf-8\">\n  <meta name=\"robots\" content=\"NONE,NOARCHIVE\">\n
        \ <title>AttributeError at /getDataRequestProgress/</title>\n  <style type=\"text/css\">\n
        \   html * { padding:0; margin:0; }\n    body * { padding:10px 20px; }\n    body
        * * { padding:0; }\n    body { font:small sans-serif; }\n    body>div { border-bottom:1px
        solid #ddd; }\n    h1 { font-weight:normal; }\n    h2 { margin-bottom:.8em;
        }\n    h2 span { font-size:80%; color:#666; font-weight:normal; }\n    h3
        { margin:1em 0 .5em 0; }\n    h4 { margin:0 0 .5em 0; font-weight: normal;
        }\n    code, pre { font-size: 100%; white-space: pre-wrap; }\n    table {
        border:1px solid #ccc; border-collapse: collapse; width:100%; background:white;
        }\n    tbody td, tbody th { vertical-align:top; padding:2px 3px; }\n    thead
        th {\n      padding:1px 6px 1px 3px; background:#fefefe; text-align:left;\n
        \     font-weight:normal; font-size:11px; border:1px solid #ddd;\n    }\n
        \   tbody th { width:12em; text-align:right; color:#666; padding-right:.5em;
        }\n    table.vars { margin:5px 0 2px 40px; }\n    table.vars td, table.req
        td { font-family:monospace; }\n    table td.code { width:100%; }\n    table
        td.code pre { overflow:hidden; }\n    table.source th { color:#666; }\n    table.source
        td { font-family:monospace; white-space:pre; border-bottom:1px solid #eee;
        }\n    ul.traceback { list-style-type:none; color: #222; }\n    ul.traceback
        li.frame { padding-bottom:1em; color:#666; }\n    ul.traceback li.user { background-color:#e0e0e0;
        color:#000 }\n    div.context { padding:10px 0; overflow:hidden; }\n    div.context
        ol { padding-left:30px; margin:0 10px; list-style-position: inside; }\n    div.context
        ol li { font-family:monospace; white-space:pre; color:#777; cursor:pointer;
        padding-left: 2px; }\n    div.context ol li pre { display:inline; }\n    div.context
        ol.context-line li { color:#505050; background-color:#dfdfdf; padding: 3px
        2px; }\n    div.context ol.context-line li span { position:absolute; right:32px;
        }\n    .user div.context ol.context-line li { background-color:#bbb; color:#000;
        }\n    .user div.context ol li { color:#666; }\n    div.commands { margin-left:
        40px; }\n    div.commands a { color:#555; text-decoration:none; }\n    [...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/?id=22f899fa-c805-463c-b6da-ad9d50f97a95
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[100.0]'
  recorded_at: 2020-02-07 07:04:30 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: need to send id
  recorded_at: 2020-02-07 07:04:30 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=22f899fa-c805-463c-b6da-ad9d50f97a95
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": [{"date": "1/1/2000", "workid": "a4346f1b-58f4-4713-a8a8-854592c38d3c",
        "epochTime": "946684800", "value": {"avg": 9.255108833312988}}, {"date": "1/2/2000",
        "workid": "aaca2e9e-559c-4982-aac9-63f4d0ff63da", "epochTime": "946771200",
        "value": {"avg": 0.0}}, {"date": "1/3/2000", "workid": "8a4ec0ba-b375-4268-ae2a-392ae911ca32",
        "epochTime": "946857600", "value": {"avg": 0.0}}, {"date": "1/4/2000", "workid":
        "372cfc0e-4338-4dd7-b60e-59edccc7af08", "epochTime": "946944000", "value":
        {"avg": 0.0}}, {"date": "1/5/2000", "workid": "5ff1db86-d5f0-48b3-b192-0da84b971e4f",
        "epochTime": "947030400", "value": {"avg": 18.510217666625977}}]}'
  recorded_at: 2020-02-07 07:04:30 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
