http_interactions:
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '["Datatype not supported", "Error with begintime", "Error with endtime",
        "Error with intervaltype", "problem decoding geometry ", "Error with operationtype"]'
  recorded_at: 2020-02-28 22:26:57 GMT
  recorded_with: vcr/0.4.2.94, webmockr/0.5.1.98
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/submitDataRequest/?datatype=29&begintime=01%2F01%2F2002&endtime=01%2F31%2F2002&intervaltype=0&operationtype=5&callback=successCallback&dateType_Category=default&isZip_CurrentDataType=false&geometry=%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-60.03946%2C-3.031387%5D%2C%5B-60.039462928932188%2C-3.031394071067812%5D%2C%5B-60.03947%2C-3.031397%5D%2C%5B-60.039477071067815%2C-3.031394071067812%5D%2C%5B-60.03948%2C-3.031387%5D%2C%5B-60.039477071067815%2C-3.031379928932188%5D%2C%5B-60.03947%2C-3.031377%5D%2C%5B-60.039462928932188%2C-3.031379928932188%5D%2C%5B-60.03946%2C-3.031387%5D%5D%5D%7D%7D
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: successCallback(["676a574d-4915-4b89-abf5-30dfbc55fa6b"])
  recorded_at: 2020-02-28 22:26:57 GMT
  recorded_with: vcr/0.4.2.94, webmockr/0.5.1.98
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta http-equiv=\"content-type\"
        content=\"text/html; charset=utf-8\">\n  <meta name=\"robots\" content=\"NONE,NOARCHIVE\">\n
        \ <title>AttributeError at /getDataRequestProgress/</title>\n  <style type=\"text/css\">\n
        \   html * { padding:0; margin:0; }\n    body * { padding:10px 20px; }\n    body
        * * { padding:0; }\n    body { font:small sans-serif; }\n    body>div { border-bottom:1px
        solid #ddd; }\n    h1 { font-weight:normal; }\n    h2 { margin-bottom:.8em;
        }\n    h2 span { font-size:80%; color:#666; font-weight:normal; }\n    h3
        { margin:1em 0 .5em 0; }\n    h4 { margin:0 0 .5em 0; font-weight: normal;
        }\n    code, pre { font-size: 100%; white-space: pre-wrap; }\n    table {
        border:1px solid #ccc; border-collapse: collapse; width:100%; background:white;
        }\n    tbody td, tbody th { vertical-align:top; padding:2px 3px; }\n    thead
        th {\n      padding:1px 6px 1px 3px; background:#fefefe; text-align:left;\n
        \     font-weight:normal; font-size:11px; border:1px solid #ddd;\n    }\n
        \   tbody th { width:12em; text-align:right; color:#666; padding-right:.5em;
        }\n    table.vars { margin:5px 0 2px 40px; }\n    table.vars td, table.req
        td { font-family:monospace; }\n    table td.code { width:100%; }\n    table
        td.code pre { overflow:hidden; }\n    table.source th { color:#666; }\n    table.source
        td { font-family:monospace; white-space:pre; border-bottom:1px solid #eee;
        }\n    ul.traceback { list-style-type:none; color: #222; }\n    ul.traceback
        li.frame { padding-bottom:1em; color:#666; }\n    ul.traceback li.user { background-color:#e0e0e0;
        color:#000 }\n    div.context { padding:10px 0; overflow:hidden; }\n    div.context
        ol { padding-left:30px; margin:0 10px; list-style-position: inside; }\n    div.context
        ol li { font-family:monospace; white-space:pre; color:#777; cursor:pointer;
        padding-left: 2px; }\n    div.context ol li pre { display:inline; }\n    div.context
        ol.context-line li { color:#505050; background-color:#dfdfdf; padding: 3px
        2px; }\n    div.context ol.context-line li span { position:absolute; right:32px;
        }\n    .user div.context ol.context-line li { background-color:#bbb; color:#000;
        }\n    .user div.context ol li { color:#666; }\n    div.commands { margin-left:
        40px; }\n    div.commands a { color:#555; text-decoration:none; }\n    [...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataRequestProgress/?id=676a574d-4915-4b89-abf5-30dfbc55fa6b
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[100.0]'
  recorded_at: 2020-02-28 22:26:57 GMT
  recorded_with: vcr/0.4.2.94, webmockr/0.5.1.98
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: need to send id
  recorded_at: 2020-02-28 22:26:57 GMT
  recorded_with: vcr/0.4.2.94, webmockr/0.5.1.98
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=676a574d-4915-4b89-abf5-30dfbc55fa6b
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": []}'
  recorded_at: 2020-02-28 22:26:57 GMT
  recorded_with: vcr/0.4.2.94, webmockr/0.5.1.98
[...]
- request:
    method: get
    uri: https://climateserv.servirglobal.net/chirps/getDataFromRequest/?id=c4da5a22-2cad-44b6-b1b5-0df577d82458
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data": [{"date": "1/1/2002", "workid": "6197db6f-6a41-4da8-93ab-6b5db1c5841a",
        "epochTime": "1009843200", "value": {"avg": -1.8911585807800293}}, {"date":
        "1/9/2002", "workid": "c89e314d-e333-481b-944b-e33d6911f9bc", "epochTime":
        "1010534400", "value": {"avg": -1.9161806106567383}}, {"date": "1/17/2002",
        "workid": "c738b9d1-45f3-422a-8af5-1678a99674ed", "epochTime": "1011225600",
        "value": {"avg": -2.1174285411834717}}]}'
  recorded_at: 2020-02-28 22:26:57 GMT
  recorded_with: vcr/0.4.2.94, webmockr/0.5.1.98
[...]
